#app {

  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: #fff;
    height: 100%;
    width: 167px !important;
    z-index: 1001;
    overflow: auto;
    .el-menu{
    border: none;
    }
  .is-active{
      color: #409EFF !important;
    }
    .el-submenu__title{
      color:inherit;
      i{
        color:inherit;
      }
    }
    .el-submenu__title:hover{
      background-color: #fff;
    }
    .el-submenu .el-menu-item{
      min-width:167px;
      padding:0 0 0 51px !important;
    }
    .el-menu-item{
      background-color: #fff !important;
      
    }
    .iconfont{
      font-size: 16px;
      margin-right: 16px;
    }
    .el-menu-item:hover{
      background-color: #fff;
    }
  }

}
